.sidebar {
    margin-top: -32px;
    padding: 0;
    width: 200px;
    background-color: rgba(68, 161, 140, 0.469);;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #2a5449;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #438977;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 1300px) {
    .sidebar {
      margin-top: 0;
      width: 100%;
      height: auto;
      position: relative;
      flex-direction: column;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }